input{
    width: 50%;
    height: 40px;
    color: red;
    font-size: 18px;
}

h2{
    color: red;

}
p{
    color: blue;
    font-size: 18px;
}

button{
    width: 50%;
    height: 40px;
    font-size: 18px;
    background-color: blue;
    color: white;

}

.myclass{
    color: rgb(47, 9, 83);
    background-color: rgb(221, 218, 218);
    width: 200px;
}

